<title><%= title_meta_tag(@data['title'])%></title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:site_name" content="<%= page_title %>">
<meta property="og:title" content="<%= page_title %>">
<meta property="og:description" content="<%= site_description %>">
<meta property="og:url" content="<%= request.base_url %>">
<meta property="og:type" content="website">
<meta property="og:image" content="<%= social_image %>" >
<meta property="og:image:alt" content="<%= social_image_alt %>" >
<meta property="og:image:width" content="600" >
<meta property="og:image:height" content="314" >

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="<%= page_title %>">
<meta name="twitter:description" content="<%= site_description %>">
<meta name="twitter:image" content="<%= social_image %>">
<meta name="twitter:image:alt" content="<%= social_image_alt %>">

<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#71a32b">
<meta name="theme-color" content="#ffffff">

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'application' %>

<%= javascript_tag do %>
  window._railsEnv = "<%= Rails.env %>"
<% end %>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application' %>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
