<header class="hero--chapter">
  <%= render 'partials/topbar' %>
 
  <div class="hero__content">
    <div class="container">
      <p class="hero__chapter">Chapter <%= chapter_number %></p>
      <h1 class="hero__title"><%= @data['title'] %></h1>
      <p class="hero__intro"><%= @data['intro'] %></p>
      <p class="hero__date">Updated: <%= @last_updated_date %></p>
    </div>
  </div>
</header>