<nav-burger classes="nav--burger">
  <% @main_nav.each_with_index do |chapter, index| %>
    <nav-link 
      href="<%= chapter[:url] %>" 
      :current-page="<%= active_nav_item? chapter[:url] %>" 
      title="<%= chapter[:title] %>"
      subtitle="<%= chapter[:subtitle] %>">
      <span class="nav__button flex flex-center"><%= index + 1 %></span>
    </nav-link>
  <% end %>
</nav-burger>
