<div class="topbar--primary flex flex-h-between gutters">
  <p>
    <%= link_to root_path, title: site_title do %>
      <%= image_tag '', alt: site_title + ' logo' %>
    <% end %>
    | Digital Report
  <p>
  
  <div class="flex flex-v-center">
    <%= link_to '', title: 'Download the full report PDF', target: '_blank', class: 'button--download' do %>
      <i class="icon--download"></i>
      <span class="button--download__text">Full report PDF download</span>
    <% end %>

    <%= render 'partials/social-sharing' %>
    <%= render 'partials/nav' %>
  </div>
</div>