<div class="topbar--primary flex flex-h-between flex-v-center gutters">
  <%= link_to root_path, title: site_title, class: 'topbar__site-link' do %>
    <%= image_tag 'logos/logo-protected-planet-digital-report.svg', alt: site_title + ' logo', class: "topbar__logo" %>
  <% end %>
  
  <div class="flex flex-v-center">
    <download 
      text="<%= t('download.text') %>" 
      :title="'Download reports in PDF format'"
      :download-links="<%= download_links_array %>"
      event-element="Download report link"
    ></download>

    <%= render 'partials/social-sharing' %>
  </div>
</div>