<section class="section-padding">
  <div class="container--small">
    <p><%= @data['content_1'] %></p>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title_1'], text: @data['cta_text_1'], url: @data['cta_url_1'] } %>

<section class="section-padding">
  <div class="container--small">
    <% @data['content_2'].each do |p| %>
      <p><%= p %></p>
    <% end %>
  </div>
</section>

<map-statistics title="<%= @data['map_title'] %>" :layers="<%= @mapbox[:layers].to_json %>" source="<%= @mapbox[:source] %>"></map-statistics>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title_2'], text: @data['cta_text_2'], url: @data['cta_url_2'] } %>