<section class="section-padding">
  <div class="container--small">
    <p><%= @data['content_1'] %></p>
  </div>
</section>

<section class="section-padding">

  <%= render partial: 'partials/component-title', locals: { title: @data['map_title'], intro: @data['map_intro'] } %>

  <div class="container--medium">
    <map-infographic :legend="<%= @map[:legend].to_json %>"></map-infographic>
  </div>
</section>

<section class="section-padding">
  <div class="container--small">
    <p><%= @data['content_2'] %></p>
  </div>
</section>

<section class="section-padding">

  <%= render partial: 'partials/component-title', locals: { title: @data['static_map_title'], intro: @data['static_map_intro'] } %>

  <div class="container--medium">
    <map-infographic :legend="<%= @map[:legend].to_json %>"></map-infographic>
  </div>
</section>

<section class="section-padding">
  
  <%= render partial: 'partials/component-title', locals: { title: @data['row_chart_title'] } %>

  <div class="container--medium">
    <% @row_charts.each do |item| %>
      <h3><%= item[:title] %></h3>
      
      <div class="flex flex-wrap flex-h-between">
        <% item[:charts].each do |chart| %>
          <chart-row title="<%= chart[:chart_title] %>" theme="<%= chart[:theme] %>" :rows="<%= chart[:rows].to_json %>"></chart-row>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title'], text: @data['cta_text'], url: @data['cta_url'] } %>