<div class="container">
  <div class="aichi-target">
    <div class="box__text">
      <h3>Did we reach the target?</h3>
      <p class="p--small">By 2020, at least 17 percent of terrestrial and inland water areas and 10 percent of costal and marine.</p>
      <%= link_to 'Explore all progress towards Aichi Target 11', 'https://www.protectedplanet.net/en/thematic-areas/global-partnership-on-aichi-target-11', title: 'Explore all progress towards Aichi Target 11 on Protected Planet', target: '_blank', class: '' %>
    </div>
    <div class="box__charts">
      <% gauge_charts.each do |chart| %>
        <am-chart-gauge
          id="<%= chart[:id] %>"
          class="box__chart"
          :legend-data="<%= chart[:legend].to_json %>"
          :target="<%= chart[:target] %>"
          theme="<%= chart[:theme] %>"
          title="<%= chart[:title] %>"
          :value="<%= chart[:value] %>"
        ></am-chart-gauge>
      <% end %>
    </div>
  </div>
</div>

<div class="content--x-large">
  <div class="container--medium">
    <%= image_tag @data['aichi_image'], alt: "#{@data['aichi_target']} logo", class: 'content__icon' %>
    <p class="content__background"><%= @data['aichi_target'] %></p>
    <p class="content__text"><%= @data['aichi_text'].html_safe %></p>
  </div>
</div>

<section class="section-padding">
  <div class="container--small">
    <% @data['aichi_text_2'].each do |t| %>
      <p class="content__text"><%= t.html_safe %></p>
    <% end %>
  </div>
</section>

<section class="section-padding">

  <%= render partial: 'partials/component-title', locals: { title: @data['doughnut_chart_title'], intro: @data['doughnut_chart_intro'].html_safe } %>
  
  <div class="container--medium">
    <chart-doughnut :datasets="<%= @doughnut_chart.to_json %>" smallprint="<%= @smallprint %>"></chart-doughnut>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title'], text: @data['cta_text'], url: @data['cta_url'] } %>