<%= render partial: 'partials/main-text', locals: { text: @data['content'] } %>

<section class="section-padding">
  <!-- TODO - Need CSV download links for maps -->
  <map-statistics 
    id="<%= @map_1[:id] %>"
    title="<%= @data['map_1_title'] %>"
    tiles-url="<%= @map_1[:tiles_url] %>" 
    :tabs="<%= @map_1[:tabs].to_json %>"
    :layers="<%= @map_1[:layers].to_json %>" 
    :oecm-present="true"
    :file-download="'#'" 
    :disclaimer="<%= map_disclaimer(@data['map_1_source']) %>"
  ></map-statistics>
</section>

<%= render partial: 'partials/main-text', locals: { text: @data['content_2'] } %>

<section class="section-padding">

 <%= render partial: 'partials/component-title', locals: { title: @data['line_chart_title'], intro: @data['line_chart_description'] } %>

  <div class="container--medium">
      <am-chart
      :raw-data="<%= @line_chart %>"
    ></am-chart>


    <span class="smallprint"><%= @data['line_chart_smallprint'].html_safe %></span>
  </div>
</section>

<%= render partial: 'partials/main-text', locals: { text: @data['content_3'] } %>

<section class="section-padding">

  <!-- [map showing national coverage (marine and terrestrial) – toggleable OECMs] -->
  <map-statistics 
    id="<%= @map_2[:id] %>"
    title="<%= @data['map_2_title'] %>" 
    :layers="<%= @map_2[:layers].to_json %>" 
    tiles-url="<%= @map_2[:tiles_url] %>"
    :file-download="'#'" 
    :oecm-present="true"
    :disclaimer="<%= map_disclaimer(@data['map_2_source']) %>"
  ></map-statistics>

</section>

