<%= render partial: 'partials/main-text', locals: { text: @data['content'] } %>

<map-statistics 
  id="<%= @map_1[:id] %>"
  title="<%= @data['map_1_title'] %>"
  tiles-url="<%= @map_1[:tiles_url] %>" 
  :layers="<%= @map_1[:layers].to_json %>" 
  source="<%= @data['map_1_source'] %>"
  disclaimer="<%= @shared_data['map_disclaimer'] %>"
></map-statistics>

<%= render partial: 'partials/main-text', locals: { text: @data['content_2'] } %>

<section class="section-padding">
  
  <%= render partial: 'partials/component-title', locals: { title: @data['line_chart_title'], intro: @data['line_chart_description'] } %>

  <div class="container--medium">
    <chart-line 
      :lines="<%= @line_chart[:lines].to_json %>" 
      :targets="<%= @line_chart[:targets].to_json %>"
      :commitments="<%= @line_chart[:commitments].to_json %>"
      :legend="<%= @line_chart[:legend].to_json %>"
      :axis="<%= @line_chart[:axis].to_json %>">
    </chart-line>

    <span class="smallprint"><%= @data['line_chart_smallprint'].html_safe %></span>
  </div>
</section>

<%= render partial: 'partials/main-text', locals: { text: @data['content_3'] } %>

<!-- [map showing national coverage (marine and terrestrial) – toggleable OECMs] -->

<section class="section-padding">

  <%= render partial: 'partials/component-title', locals: { title: @data['map_2_title'] } %>
  <div class="container--medium">
    <map-infographic 
      :countries="<%= @map_2[:countries].to_json %>" 
      :legend="<%= @map_2[:legend].to_json %>"
      :palette="<%= @map_2[:palette].to_json %>"
      source="<%= @data['map_2_source'] %>"
      disclaimer="<%= @shared_data['map_disclaimer'] %>"
    ></map-infographic>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title'], text: @data['cta_text'], url: @data['cta_url'] } %>

<map-statistics 
  id="<%= @map_3[:id] %>"
  title="<%= @data['map_3_title'] %>" 
  :layers="<%= @map_3[:layers].to_json %>" 
  tiles-url="<%= @map_3[:tiles_url] %>"
  source="<%= @data['map_3_source'] %>"
  disclaimer="<%= @shared_data['map_disclaimer'] %>"
></map-statistics>