<section class="section-padding">
  <div class="container--small">
    <p><%= @data['content_1'] %></p>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title'], text: @data['cta_text'], url: @data['cta_url'] } %>

<section class="section-padding">
  <div class="container--small">
    <p><%= @data['content_2'] %></p>
  </div>
</section>

<!-- <map-statistics title="<%#= @data['map_title'] %>" :layers="<%#= @mapbox[:layers].to_json %>" source="<%#= @mapbox[:source] %>"></map-statistics> -->

<section class="section-padding">
  <%= render partial: 'partials/component-title', locals: { title: @data['map_title'], intro: @data['map_intro'] } %>

  <div class="container--medium">
    
    <%= image_tag 'maps/map-chapter-7a.jpg', class: 'map--image' %>
    <chart-legend 
      :rows="[{ title: '< 4%' }, { title: '4 – 8%' }, { title: '8 – 12%' }, { title: '12% – 17%' }, { title: '17 – 25%' }, { title: '> 25%' }]"
      :colours="['#ff9966', '#cccc99', '#ffffcc', '#ffff66', '#ccff66', '#669933']">
    </chart-legend>

    <p class="smallprint"><%= @data['map_smallprint'] %></p>
  </div>
</section>

<section class="section-padding">
  <div class="container--small">
    <p><%= @data['content_3'] %></p>
  </div>
</section>

<section class="section-padding">

  <%= render partial: 'partials/component-title', locals: { title: @data['static_map_title'], intro: @data['static_map_intro'] } %>

  <div class="container--medium">
    <!-- <map-infographic :legend="<%#= @map[:legend].to_json %>"></map-infographic> -->

    <%= image_tag 'maps/map-chapter-7b.jpg', class: 'map--image' %>
    <chart-legend 
      :rows="[{ title: 'A1. General increase of PA coverage' }, { title: 'A2. Targeted designation of connecting PAs' }, { title: 'B1 + B2. Permeability of unprotected lands (B1) and coordinated management of adjacent PAs (B2)' }, { title: 'B1. Permeability of unprotected lands between PAs' }, { title: 'B2. Coordinated management of adjacent PAs in the country' }, { title: 'B3. No specific priority other than PA management effectiveness for connectivity' }, { title: 'C. Coordinated management of transboundary PA linkages' }]"
      :colours="['#cc99cc', '#ffcc99', '#ccccff', '#66ccff', '#99cc66', '#ffffcc', '#ffffff']">
    </chart-legend>

    <p class="smallprint"><%= @data['static_map_smallprint'] %></p>
  </div>
</section>