<section class="section-padding">
  <div class="container--small">
    <p><%= @data['content_1'] %></p>
  </div>
</section>

<map-statistics title="<%= @data['map_title'] %>" :layers="<%= @mapbox[:layers].to_json %>" source="<%= @mapbox[:source] %>"></map-statistics>

<section class="section-padding">
  
  <%= render partial: 'partials/component-title', locals: { title: @data['line_chart_title'] } %>

  <div class="container--medium">
    <chart-line 
      :lines="<%= @line_chart[:lines].to_json %>" 
      :targets="<%= @line_chart[:targets].to_json %>"
      :legend="<%= @line_chart[:legend].to_json %>"
      :axis="<%= @line_chart[:axis].to_json %>">
    </chart-line>
  </div>
</section>

<section class="section-padding">
  <div class="container--small">
    <% @data['content_2'].each do |p| %>
      <p><%= p %></p>
    <% end %>
  </div>
</section>

<% @data['ctas'].each do |cta| %>
  <%= render partial: '/partials/cta', locals: { title: cta['cta_title'], text: cta['cta_text'], url: cta['cta_url'] } %>
<% end %>