<%= render partial: 'partials/main-text', locals: { text: @data['content_1'] } %>

<%= render 'partials/blockquote', locals: { text: @data['blockquote'].html_safe } %>

<%= render partial: 'partials/main-text', locals: { text: @data['content_2'] } %>

<section class= "section-padding gutters">

  <map-statistics 
    id="<%= @map_1[:id] %>"
    title="<%= @data['map_1_title'] %>"
    tiles-url="<%= @map_1[:tiles_url] %>" 
    tiles-url-oecm="<%= @map_1[:tiles_url_oecm] %>" 
    :tabs="<%= @map_1[:tabs].to_json %>"
    :layers="<%= @map_1[:layers].to_json %>" 
    :oecm-present="true"
    file-download="<%= @map_1[:csv_url] %>"
    :disclaimer="<%= map_disclaimer(@data['map_1_source']) %>"
  ></map-statistics>
</section>

<%= render partial: 'partials/main-text', locals: { text: @data['content_3'] } %>

<section class="section-padding">
  
  <%= render partial: 'partials/component-title', locals: { title: @data['line_chart_title'] } %>

  <div class="container--medium">
    <am-chart
      :raw-data="<%= @line_chart %>"
      file-download="<%= @line_chart_csv_url %>" 
    ></am-chart>

    <span class="smallprint"><%= @data['line_chart_smallprint'] %></span>
  </div>
</section>

<%= render partial: 'partials/main-text', locals: { text: @data['content_4'] } %>
