<%= render 'partials/blockquote', locals: { text: @data['blockquote_text'].html_safe } %>

<%= render partial: 'partials/main-text', locals: { text: @data['main_text'] } %>

<section class="section-padding">
  
  <%= render partial: 'partials/component-title', locals: { title: @data['doughnut_chart_title'], intro: @data['doughnut_chart_intro'].html_safe } %>
  
  <div class="container--medium">
    <chart-doughnut :datasets="<%= @doughnut_chart.to_json %>" smallprint="<%= @data['smallprint'] %>"></chart-doughnut>
  </div>
</section>


