<section class="section-padding">
  <div class="container--small">
    <p><%= @data['content_1'] %></p>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title_1'], text: @data['cta_text_1'], url: @data['cta_url_1'] } %>

<section class="section-padding">
  <div class="container--small">
    <% @data['content_2'].each do |p| %>
      <p><%= p %></p>
    <% end %>
  </div>
</section>

<!-- <map-statistics title="<%#= @data['map_title'] %>" :layers="<%#= @mapbox[:layers].to_json %>" source="<%#= @mapbox[:source] %>"></map-statistics> -->

<section class="section-padding">

  <%= render partial: 'partials/component-title', locals: { title: @data['map_title'], intro: @data['map_intro'] } %>

  <div class="container--medium">
    <%= image_tag 'maps/map-chapter-9.jpg', class: 'map--image' %>
    <chart-legend 
      :rows="[{ title: 'Wild' }, { title: 'Not Wild' }, { title: 'Protected areas' }]"
      :colours="['#99cc99', '#ffcc66', '#336600']">
    </chart-legend>

    <span class="map__source"><%= @data['map_smallprint'] %></span>
  </div>
</section>

<section class="section-padding">
  <div class="container--small">
    <p><%= @data['content_3'] %></p>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title_2'], text: @data['cta_text_2'], url: @data['cta_url_2'] } %>