<%= render partial: 'partials/main-text', locals: { text: @data['content_1'] } %>

<!-- TODO - [Map of ecoregion coverage: marine and terrestrial on the same map. Toggle between PAs only and PAs + OECMs]  -->
<div class="container">
  <map-statistics 
    id="<%= @map[:id] %>"
    title="<%= @data['map_1_title'] %>"
    tiles-url="<%= @map[:tiles_url] %>" 
    tiles-url-oecm="<%= @map[:tiles_url_oecm] %>" 
    :tabs="<%= @map[:tabs].to_json %>"
    :layers="<%= @map[:layers].to_json %>" 
    :oecm-present="true"
    file-download="<%= @map[:csv_url] %>"  
    :disclaimer="<%= map_disclaimer(@data['map_1_source']) %>"
  ></map-statistics>
</div>

<%= render partial: 'partials/main-text', locals: { text: @data['content_2'] } %>

<section class="section-padding">
  
  <%= render partial: 'partials/component-title', locals: { title: @data['row_chart_title'], intro: @data['row_chart_description'] } %>

  <div class="container--medium">
    <% @row_charts.each do |item| %>
      <p class="chart--row__subtitle"><%= item[:title] %></p>
      
      <div class="flex flex-wrap flex-h-between">
        <% item[:charts].each do |chart| %>
          <chart-row title="<%= chart[:chart_title] %>" theme="<%= chart[:theme] %>" :rows="<%= chart[:rows].to_json %>"></chart-row>
        <% end %>
      </div>
    <% end %>

    <span class="smallprint"><%= @data['row_chart_smallprint'] %></span>
  </div>
</section>

<%= render partial: 'partials/main-text', locals: { text: @data['content_3'] } %>
