<div class="content--x-large">
  <div class="container--medium">
    <%= image_tag @data['aichi_image'], alt: "#{@data['aichi_target']} logo", class: 'content__icon' %>
    <p class="content__background"><%= @data['aichi_target'] %></p>
    <p class="content__text"><%= @data['aichi_text'].html_safe %></p>
  </div>
</div>

<%= render partial: 'partials/main-text', locals: { text: @data['main_text'] } %>


<%= render partial: '/partials/cta', locals: { title: @data['cta_title'], text: @data['cta_text'], url: @data['cta_url'] } %>