<div class="content--x-large">
  <div class="container--medium flex flex-column flex-v-center">
    <%= image_tag @data['aichi_image'], alt: "#{@data['aichi_target']} logo", class: 'content__icon' %>
    <h4 class="content__text"><%= @data['aichi_text'].html_safe %></h4>
  </div>
</div>

<section class="section-padding">
  <div class="container--small">
    <% @data['aichi_text_2'].each do |t| %>
      <p class="content__text"><%= t.html_safe %></p>
    <% end %>
  </div>
</section>

<section class="section-padding">

  <%= render partial: 'partials/component-title', locals: { title: @data['doughnut_chart_title'], intro: @data['doughnut_chart_intro'].html_safe } %>
  
  <div class="container--medium">
    <chart-doughnut :datasets="<%= @doughnut_chart.to_json %>" smallprint="<%= @smallprint %>"></chart-doughnut>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title'], text: @data['cta_text'], url: @data['cta_url'] } %>