<section class="section-padding">
  <div class="container--small">
    <% @data['content_1'].each do |p| %>
      <p><%= p %></p>
    <% end %>
  </div>
</section>

<!-- <map-statistics title="<%#= @data['map_title'] %>" :layers="<%#= @mapbox[:layers].to_json %>" source="<%#= @mapbox[:source] %>"></map-statistics> -->

<section class="section-padding">
  
  <%= render partial: 'partials/component-title', locals: { title: @data['map_title'], intro: @data['map_description'] } %>

  <div class="container--medium">
    <%= image_tag 'maps/map-chapter-3-key-biodiversity-areas.jpg', alt: 'Map of the Spatial distribution of the world’s protected areas' %>

    <chart-legend 
      :rows="[{ title: 'Fully within protected areas' }, { title: 'Partially within protected areas' }, { title: 'Outside protected areas' }]"
      :colours="['#339900', '#ff9900', '#990000']">
  </chart-legend>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title_1'], text: @data['cta_text_1'], url: @data['cta_url_1'] } %>

<section class="section-padding">
  
  <%= render partial: 'partials/component-title', locals: { title: @data['line_chart_title'] } %>

  <div class="container--medium">
    <chart-line 
      :lines="<%= @line_chart[:lines].to_json %>" 
      :targets="<%= @line_chart[:targets].to_json %>"
      :legend="<%= @line_chart[:legend].to_json %>"
      :axis="<%= @line_chart[:axis].to_json %>">
    </chart-line>
  </div>
</section>

<section class="section-padding">
  <div class="container--small">
    <% @data['content_2'].each do |p| %>
      <p><%= p %></p>
    <% end %>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title_2'], text: @data['cta_text_2'], url: @data['cta_url_2'] } %>