<%= render partial: 'partials/main-text', locals: { text: @data['content_1'] } %>

<section class="section-padding">
  <%= render partial: 'partials/component-title', locals: { title: @data['map_1_title'], intro: @data['map_1_description'] } %>

  <div class="container--medium">
    <map-infographic 
      :countries="<%= @map_1[:countries].to_json %>" 
      :legend="<%= @map_1[:legend].to_json %>"
      :palette="<%= @map_1[:palette] %>"
      disclaimer="<%= @shared_data['map_disclaimer'] %>"
      source="<%= @data['map_1_source'] %>"
    >
    </map-infographic>
  </div>
</section>

<%= render partial: 'partials/main-text', locals: { text: @data['content_2'] } %>