<section class="section-padding">
  <div class="container--small">
    <p><%= @data['content_1'] %></p>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title'], text: @data['cta_text'], url: @data['cta_url'] } %>

<section class="section-padding">
  <div class="container--small">
    <p><%= @data['content_2'] %></p>
  </div>
</section>

<section class="section-padding">
  <%= render partial: 'partials/component-title', locals: { title: @data['map_1_title'], intro: @data['map_1_description'] } %>

  <div class="container--medium">
    <map-infographic 
      :countries="<%= @map_1[:countries].to_json %>" 
      :legend="<%= @map_1[:legend].to_json %>">
    </map-infographic>
    
    <p class="smallprint"><%= @data['map_1_source'] %></p>
  </div>
</section>

<section class="section-padding">
  <div class="container--small">
    <p><%= @data['content_3'] %></p>
  </div>
</section>

<section class="section-padding">

  <%= render partial: 'partials/component-title', locals: { title: @data['map_2_title'], intro: @data['map_2_description'] } %>

  <div class="container--medium">
    <map-infographic 
      :countries="<%= @map_2[:countries].to_json %>" 
      :legend="<%= @map_2[:legend].to_json %>">
    </map-infographic>

    <p class="smallprint"><%= @data['map_2_source'] %></p>
  </div>
</section>