<div class="container section-padding">
  <div class="aichi-target sm-trigger-aichi-chart">
    <div class="box__text">
      <h4>Did we reach the target?</h4>
      <p class="p--small">By 2020, at least 17 percent of terrestrial and inland water areas and 10 percent of costal and marine.</p>
      <%= link_to 'Explore all progress towards Aichi Target 11', 'https://www.protectedplanet.net/en/thematic-areas/global-partnership-on-aichi-target-11', title: 'Explore all progress towards Aichi Target 11 on Protected Planet', target: '_blank', class: 'button--external' %>
    </div>
    <div class="box__charts">
      <% @gauge_charts.each do |chart| %>
        <am-chart-gauge
          id="<%= chart[:id] %>"
          class="box__chart"
          :legend-data="<%= chart[:legend].to_json %>"
          :target="<%= chart[:target] %>"
          theme="<%= chart[:theme] %>"
          title="<%= chart[:title] %>"
          trigger="sm-trigger-aichi-chart"
          :value="<%= chart[:value] %>"
        ></am-chart-gauge>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'partials/main-text', locals: { text: @data['content'] } %>

<section class="section-padding gutters">
  <!-- TODO - Need CSV download links for maps -->
  <map-statistics 
    id="<%= @map_1[:id] %>"
    title="<%= @data['map_1_title'] %>"
    tiles-url="<%= @map_1[:tiles_url] %>" 
    :tabs="<%= @map_1[:tabs].to_json %>"
    :oecm-layer="<%= @map_1[:oecm_layer].to_json %>" 
    :oecm-present="true"
    :file-download="'#'" 
    :disclaimer="<%= map_disclaimer(@data['map_1_source']) %>"
  ></map-statistics>
</section>

<%= render partial: 'partials/main-text', locals: { text: @data['content_2'] } %>

<section class="section-padding">

 <%= render partial: 'partials/component-title', locals: { title: @data['line_chart_title'], intro: @data['line_chart_description'] } %>

  <div class="container--medium">
    <am-chart
      :raw-data="<%= @line_chart %>"
      file-download="<%= @line_chart_csv_url %>" 
    ></am-chart>


    <span class="smallprint"><%= @data['line_chart_smallprint'].html_safe %></span>
  </div>
</section>

<%= render partial: 'partials/main-text', locals: { text: @data['content_3'] } %>

<section class="section-padding gutters">

  <!-- [map showing national coverage (marine and terrestrial) – toggleable OECMs] -->
  <map-statistics 
    id="<%= @map_2[:id] %>"
    title="<%= @data['map_2_title'] %>" 
    :tabs="<%= @map_2[:tabs].to_json %>" 
    tiles-url="<%= @map_2[:tiles_url] %>"
    :file-download="'#'" 
    :oecm-layer="<%= @map_1[:oecm_layer].to_json %>" 
    :oecm-present="true"
    :disclaimer="<%= map_disclaimer(@data['map_2_source']) %>"
  ></map-statistics>

</section>

