<section class="section-padding">
  <div class="container--small">
    <p><%= @data['content'].html_safe %></p>
  </div>
</section>

<map-statistics 
  id="<%= @map_1[:id] %>"
  title="<%= @data['map_1_title'] %>"
  tiles-url="<%= @map_1[:tiles_url] %>" 
  :layers="<%= @map_1[:layers].to_json %>" 
  source="<%= @data['map_1_source'] %>"
></map-statistics>

<section class="section-padding">

  <%= render partial: 'partials/component-title', locals: { title: @data['area_charts_title'], intro: @data['area_charts_description'] } %>

  <div class="container--medium section-padding--top">
    <h3><%= @data['area_chart_1_title'] %></h3>
    <div <%= @global_area_chart[:id] %>>
      <chart-area id="<%= @global_area_chart[:id] %>" :datasets="<%= @global_area_chart[:datasets].to_json %>" :legend="<%= @global_area_chart[:legend].to_json %>"></chart-area>
    </div>
  </div>

  <div class="container--medium">
    <h3><%= @data['area_chart_2_title'] %></h3>
    <div <%= @marine_area_chart[:id] %>>
      <chart-area id="<%= @marine_area_chart[:id] %>" :datasets="<%= @marine_area_chart[:datasets].to_json %>" :legend="<%= @marine_area_chart[:legend].to_json %>"></chart-area>
    </div>

    <span class="smallprint"><%= @data['area_chart_2_smallprint'] %></span>
  </div>
</section>

<section class="section-padding">
  
  <%= render partial: 'partials/component-title', locals: { title: @data['line_chart_title'], intro: @data['line_chart_description'] } %>

  <div class="container--medium">
    <chart-line 
      :lines="<%= @line_chart[:lines].to_json %>" 
      :targets="<%= @line_chart[:targets].to_json %>"
      :commitments="<%= @line_chart[:commitments].to_json %>"
      :legend="<%= @line_chart[:legend].to_json %>"
      :axis="<%= @line_chart[:axis].to_json %>">
    </chart-line>

    <span class="smallprint"><%= @data['line_chart_smallprint'] %></span>
  </div>
</section>

<section class="section-padding">

  <%= render partial: 'partials/component-title', locals: { title: @data['map_2_title'] } %>

  <div class="container--medium">
    <map-infographic 
      :countries="<%= @map_2[:countries].to_json %>" 
      :legend="<%= @map_2[:legend].to_json %>">
    </map-infographic>

    <span class="smallprint"><%= @data['map_2_source'] %></span>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title'], text: @data['cta_text'], url: @data['cta_url'] } %>

<map-statistics 
  id="<%= @map_3[:id] %>"
  title="<%= @data['map_3_title'] %>" 
  :layers="<%= @map_3[:layers].to_json %>" 
  tiles-url="<%= @map_3[:tiles_url] %>"
  source="<%= @data['map_3_source'] %>"
></map-statistics>