<%= render partial: 'partials/main-text', locals: { text: @data['content_1'] } %>

<!-- TODO - [Map of ecoregion coverage: marine and terrestrial on the same map. Toggle between PAs only and PAs + OECMs]  -->

<%= render partial: 'partials/main-text', locals: { text: @data['content_2'] } %>

<section class="section-padding">
  
  <%= render partial: 'partials/component-title', locals: { title: @data['row_chart_title'], intro: @data['row_chart_description'] } %>

  <div class="container--medium">
    <% @row_charts.each do |item| %>
      <h3><%= item[:title] %></h3>
      
      <div class="flex flex-wrap flex-h-between">
        <% item[:charts].each do |chart| %>
          <chart-row title="<%= chart[:chart_title] %>" theme="<%= chart[:theme] %>" :rows="<%= chart[:rows].to_json %>"></chart-row>
        <% end %>
      </div>
    <% end %>

    <span class="smallprint"><%= @data['row_chart_smallprint'] %></span>
  </div>
</section>

<%= render partial: 'partials/main-text', locals: { text: @data['content_3'] } %>
