<div class="content--x-large">
  <div class="container--medium">
    <p class="content__background"><%= @data['achi_target'] %></p>
    <p class="content__text"><%= @data['achi_text'].html_safe %></p>
  </div>
</div>

<section class="section-padding">
  <div class="container--small">
    <p class="p--main"><%= @data['achi_text_2'].html_safe %></p>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title'], text: @data['cta_text'], url: @data['cta_url'] } %>

<section class="section-padding">

  <%= render partial: 'partials/component-title', locals: { title: @data['doughnut_chart_title'], intro: @data['doughnut_chart_intro'].html_safe } %>
  
  <div class="container--medium">
    <chart-doughnut :datasets="<%= @doughnut_chart %>" smallprint="<%= @smallprint %>"></chart-doughnut>
  </div>
</section>