<%= render partial: 'partials/main-text', locals: { text: @data['content'] } %>

<section class="section-padding">

  <%= render partial: 'partials/component-title', locals: { title: @data['map_1_title'], intro: @data['map_1_description'] } %>

  <div class="container--medium">
  <!-- TODO - Needs to be changed to Map showing % of PAME assessments per country, divided by terrestrial and marine. No OECM toggle needed -->
    <map-infographic 
      :countries="<%= @map[:countries].to_json %>" 
      :legend="<%= @map[:legend].to_json %>"
      :palette="<%= @map[:palette] %>"
      source="<%= @data['map_1_source'] %>"
      disclaimer="<%= @shared_data['map_disclaimer'] %>"
    >
    </map-infographic>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title_1'], text: @data['cta_text_1'], url: @data['cta_url_1'] } %>

<%= render partial: 'partials/main-text', locals: { text: @data['content_2'] } %>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title_2'], text: @data['cta_text_2'], url: @data['cta_url_2'] } %>
