<section class="section-padding">
  <div class="container--small">
    <p><%= @data['content_1'] %></p>
  </div>
</section>

<section class="section-padding">

  <%= render partial: 'partials/component-title', locals: { title: @data['map_title'], intro: @data['map_intro'] } %>

  <div class="container--medium">
    <!-- <map-infographic :legend="<%#= @map[:legend].to_json %>"></map-infographic> -->
    <%= image_tag 'maps/map-chapter-4-protected-coverage.jpg', class: 'map--image' %>
    
    <h3>Terrestrial</h3>
    <chart-legend 
      :rows="[{ title: '<5%' }, { title: '5 – 10%' }, { title: '10 – 17%' }, { title: '>17%' }]"
      :colours="['#ffffcc', '#99cc99', '#669966', '#339966']">
    </chart-legend>

    <h3>Marine</h3>
    <chart-legend 
      :rows="[{ title: '<3%' }, { title: '3 – 6%' }, { title: '6 – 10%' }, { title: '>10%' }]"
      :colours="['#ffffff', '#99cccc', '#669999', '#666699']">
    </chart-legend>

    <span class="smallprint
smallprint
smallprint
smallprint
smallprint"><%= @data['map_smallprint'] %></span>
  </div>
</section>

<section class="section-padding">
  <div class="container--small">
    <p><%= @data['content_2'] %></p>
  </div>
</section>

<section class="section-padding">

  <%= render partial: 'partials/component-title', locals: { title: @data['static_map_title'], intro: @data['static_map_intro'] } %>

  <div class="container--medium">
    <!-- <map-infographic :legend="<%#= @map[:legend].to_json %>"></map-infographic> -->

    <%= image_tag 'maps/map-chapter-4.jpg', class: 'map--image' %>
    
    <h3>Terrestrial</h3>
    <chart-legend 
      :rows="[{ title: '< -10%' }, { title: '-10%/-5%' }, { title: '-5%/0%' }, { title: '0%/5%' }, { title: '>5%' }]"
      :colours="['#cc6699', '#ffcccc', '#ffffcc', '#99cc99', '#669966']">
    </chart-legend>

    <h3>Marine</h3>
    <chart-legend 
      :rows="[{ title: '<-5%' }, { title: '-5%/0%' }, { title: '0%/2.5%' }, { title: '2.5%/5%' }, { title: '>5%' }]"
      :colours="['#669966', '#ffffcc', '#99cccc', '#669999', '#666699']">
    </chart-legend> 

    <span class="smallprint
smallprint
smallprint
smallprint
smallprint"><%= @data['static_map_smallprint'] %></span>
  </div>
</section>

<section class="section-padding">
  
  <%= render partial: 'partials/component-title', locals: { title: @data['row_chart_title'], intro: @data['row_chart_description'] } %>

  <div class="container--medium">
    <% @row_charts.each do |item| %>
      <h3><%= item[:title] %></h3>
      
      <div class="flex flex-wrap flex-h-between">
        <% item[:charts].each do |chart| %>
          <chart-row title="<%= chart[:chart_title] %>" theme="<%= chart[:theme] %>" :rows="<%= chart[:rows].to_json %>"></chart-row>
        <% end %>
      </div>
    <% end %>

    <span class="smallprint
smallprint
smallprint
smallprint
smallprint"><%= @data['row_chart_smallprint'] %></span>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title'], text: @data['cta_text'], url: @data['cta_url'] } %>