<%= render partial: 'partials/main-text', locals: { text: @data['content'] } %>

<section class="section-padding">

  <%= render partial: 'partials/component-title', locals: { title: @data['map_1_title'], intro: @data['map_1_description'] } %>

  <div class="container--medium">
    <map-infographic 
      :countries="<%= @map[:countries].to_json %>" 
      :legend="<%= @map[:legend].to_json %>"
      :palette="<%= @map[:palette] %>"
      source="<%= @data['map_1_source'] %>"
      disclaimer="<%= @shared_data['map_disclaimer'] %>"
    >
    </map-infographic>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title_1'], text: @data['cta_text_1'], url: @data['cta_url_1'] } %>

<section class="section-padding">
  <%= render partial: 'partials/component-title', locals: { title: @data['stacked_row_chart_title'], intro: @data['stacked_row_chart_description'] } %>

  <div class="container--medium">
    <% @stacked_row_charts[:charts].each do |chart| %>

      <chart-row-stacked
        title="<%= chart[:chart_title] %>"
        :rows="<%= chart[:rows].to_json %>"
        theme="<%= chart[:theme] %>"
        :legend="<%= @stacked_row_charts[:legend].to_json %>">
      </chart-row-stacked>

    <% end %>

    <span class="smallprint"><%= @data['stacked_row_chart_smallprint'] %></span>
  </div>
</section>

<%= render partial: 'partials/main-text', locals: { text: @data['content_2'] } %>

<section class="section-padding">
  <%= render partial: 'partials/component-title', locals: { title: @data['column_chart_title'], intro: @data['column_chart_description'] } %>

  <div class="container--medium">
    <chart-column :columns="<%= @column_chart %>" units="%"></chart-column>

    <span class="smallprint"><%= @data['column_chart_smallprint'] %></span>
  </div>
</section>

<section class="section-padding">
  <%= render partial: 'partials/component-title', locals: { title: @data['column_chart_2_title'], intro: @data['column_chart_2_description'] } %>

  <div class="container--medium">
    <chart-column :columns="<%= @column_chart_2 %>"></chart-column>

    <span class="smallprint"><%= @data['column_chart_2_smallprint'] %></span>
  </div>
</section>

<%= render partial: '/partials/cta', locals: { title: @data['cta_title_2'], text: @data['cta_text_2'], url: @data['cta_url_2'] } %>
