<!DOCTYPE html>
<html>
  <head>
    <%= render 'partials/head' %>
  </head>

  <body class="<%= "chapter-#{chapter_number}" %>">
      <div id="v-app" v-cloak>
        <%= render 'partials/hero' %>
        
        <%= yield %>

        <%= render 'partials/case-studies' %>
        <%= render 'partials/pagination' %>
        <%= render 'partials/footer' %>
      </div>

      <%= render 'partials/cookie-banner' %>
  </body>
</html>
