<!DOCTYPE html>
<html>
  <head>
    <%= render 'partials/head' %>
  </head>

  <body class="<%= "chapter-#{chapter_number}" %>">
      <div id="v-app" v-cloak>
        <%= render 'partials/hero' %>
        
        <%= yield %>

        <%= render 'partials/case-studies' %>
        <%= render 'partials/pagination' %>
        <%= render 'partials/footer' %>
      </div>

      <script id="CookieDeclaration" src="https://consent.cookiebot.com/377a4fc0-e1d0-45e0-ac6b-062f02bea907/cd.js" type="text/javascript" async></script>
  </body>
</html>
