<!DOCTYPE html>
<html>
  <head>
    <%= render 'partials/head' %>
  </head>

  <body>
      <div id="v-app" v-cloak>
      

        <%# <div class="parallax"></div> %>

        <%= render 'partials/hero-home' %>
        <carousel-wipes :slides="<%= @chapters.to_json %>"></carousel-wipes>

        <%# <%= yield %> %>

        <%# <%= render 'partials/footer' %> %> %>
      </div>
  </body>
</html>
